<div>
    <h2 id="page-heading">
        <span jhiTranslate="cdfApp.resultado.home.title">Resultados</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="resultados">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="cdfApp.resultado.valorCalculado">Valor Calculado</span></th>
            <th><span jhiTranslate="cdfApp.resultado.previsaoDeEntrega">Previsao De Entrega</span></th>
            <th><span jhiTranslate="cdfApp.resultado.embarque">Embarque</span></th>
            <th><span jhiTranslate="cdfApp.resultado.melhorNegociacaoDeFrete">Melhor Negociacao De Frete</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let resultado of resultados ;trackBy: trackId">
                <td><a [routerLink]="['/resultado', resultado.id, 'view' ]">{{resultado.id}}</a></td>
                <td>{{resultado.valorCalculado}}</td>
                <td>{{resultado.previsaoDeEntrega | date:'medium'}}</td>
                <td>
                    <div *ngIf="resultado.embarque">
                        <a [routerLink]="['../embarque', resultado.embarque?.id, 'view' ]" >{{resultado.embarque?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="resultado.melhorNegociacaoDeFrete">
                        <a [routerLink]="['../negociacao-de-frete', resultado.melhorNegociacaoDeFrete?.id, 'view' ]" >{{resultado.melhorNegociacaoDeFrete?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/resultado', resultado.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/resultado', resultado.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'resultado', { outlets: { popup: resultado.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
